.container {
  margin-bottom: 20px;
}

.search {
  background-image: url("https://images.unsplash.com/photo-1540039297186-746086ab730b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.search h1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: clamp(1.5rem, 3vw, 3em);
  text-align: center;
  padding: 10px;
  color: var(--grey-1);
}

/* .contentSearch {
  opacity: unset;
} */

.searchButton {
  background-color: var(--grey-1);
  border: solid 1px var(--grey-5);
  border-radius: 14px;
  color: var(--grey-5);
  width: 150px;
  padding: 10px;
}

@media (max-width: 750px) {
  .container {
    margin-top: 70px;
  }

  .search {
    top: 30px;
  }

  .background {
    display: none !important;
  }

  .searchButton {
    width: 70px;
    margin-top: 5px;
    font-size: 10px;
  }
}
