.Footer {
  padding: 30px;
  font-family: var(--font-primary);
  background-color: rgba(24, 24, 24, 1);
  position: relative;
  bottom: 0;
  margin-top: 50px;
  height: 20vh;
}

.NavBar {
  justify-content: space-between;
}

.span {
  color: #d7e258;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.copyright {
  font-size: 12px;
}
