.Header {
  padding: 20px;
  display: flex;
  flex-direction: "row";
  align-items: "baseline";
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  transition: background-color 0.3s ease;
}

.Header.scrolled:not(.logged) {
  background-color: #ffffff;
}

.Header h1 {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 2em;
}

.span {
  color: var(--color-primary);
}

.NavBarItem:hover {
  background-color: var(--grey-3);
  transition: 400ms;
}

.bold {
  font-weight: bold;
}

.boldbutton {
  background-color: var(--grey-1);
  border: solid 1px var(--grey-5);
  border-radius: 14px;
  color: var(--grey-5);
}

.solid {
  border: 2px solid var(--grey-1);
}

@media (max-width: 760px) {
  .Header h1 {
    margin: 10px;
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 900;
  }

  .Toggle {
    font-family: var(--font-secondary);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}